<div class="text-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    This is a certificate
</div>
<div class="certificate-logo">
    This is a certificate
</div>
<div class="text-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
</div>


